/* Main Dashboard */
.main-dashboard-container {
  width: 100%;
  display: flex;
  align-items: flex-start; 
}

.dashboard-container {
  display: flex;
  font-family: Arial, sans-serif;
  color: #4e4e4e;
  width: 100%;
}

.sidebar {
  width: 20%;
  background: #6938F3;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-info {
  display: flex;
  text-align: center;
  padding: 20px 20px 0 20px;
}

.user-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.user-details {
  margin-left: 10px;
  padding-top: 5px;
}

.user-details h5 {
  font-size: 20px;
}

.user-details p {
  font-size: 12px;
}

.dash-divider {
  width: 100%;
  margin-bottom: 15px;
}

.menu {
  list-style: none;
  padding: 0;
}
.dash-icons {
  margin: 0 8px;
  width: 20px;
  height: 20px;
}

.drop-icon {
  margin-right: 3px;
}

/* Sidebar Menu Hover Dropdown */
/* Dropdown Menu Styling */
.custom-dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  flex-direction: column;
  background: #7d4eff;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid white;
  z-index: 10;
  min-width: 150px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
}

/* Show Dropdown on Hover */
.menu-button:hover .custom-dropdown-menu {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

/* Arrow Icon */
.dash-arrow-icon {
  margin-left: auto;
  font-size: 14px;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Rotate Arrow on Hover */
.menu-button:hover .dash-arrow-icon {
  transform: rotate(180deg);
}

/* Dropdown Items Styling */
.custom-dropdown-menu li {
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  white-space: nowrap;
  transition: background 0.3s ease;
}

.custom-dropdown-menu li:hover {
  background: #5a34cc;
}

/* Additional Styling for Menu Button */
.menu-button {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  background: transparent;
  color: white;
  font-size: 16px;
}

.dropdown-custom {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
}

.menu li i {
  margin-right: 10px;
}

.menu li.active {
  background: white;
  color: #7d4eff;
}

.logout-button {
  background: red;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: auto; 
}

.logout-button i {
  margin-right: 10px;
}

.main-content {
  flex: 1;
  padding: 0;
  background: white;
  overflow-x: auto; 
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background: #6938F3;
  color: white;
}

.header-content {
  text-align: center;
  flex: 1;
  padding-left: 30px;
  font-size: medium;
  font-weight: bold;
  padding-top: 5px;
}

.notifications span {
  margin-left: 8px;
  font-size: 22px;
}

.stats-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.stats-card {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.stat {
  text-align: center;
}

.content-container {
  margin-top: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: 100%;
  background: #7d4eff;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  z-index: 1000;
  width: 150px;
  border-radius: 4px;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  color: white;
}

.dropdown-menu li:hover {
  background: #5a34cc;
}

.dropdown.open .dropdown-toggle span {
  transform: rotate(180deg);
}

.dropdown-toggle span {
  transition: transform 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .sidebar {
    width: 23%; 
  }

  .main-content {
    width: 77%;
  }
}

@media (max-width: 1100px) {
  .sidebar {
    width: 25%; 
  }

  .main-content {
    width: 75%;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    width: 30%; /* Adjust sidebar width for tablets */
  }

  .main-content {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .sidebar {
    width: 35%; /* Adjust sidebar width for smaller tablets */
  }

  .main-content {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 40%; /* Adjust sidebar width for mobile devices */
  }

  .main-content {
    width: 60%;
  }

  .header-content {
    font-size: small;
  }

  .notifications span {
    font-size: 18px;
  }

  .menu li {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 45%; 
  }

  .main-content {
    width: 55%;
  }
}




/* Dashboard content */
/* General styles */
.dashboard-graphs {
  position: relative;
  overflow: hidden;
  height: 100%;
}

/* Stats cards */
.dashboard-graphs-cards {
  display: flex;
  flex-wrap: wrap;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dashboard-graphs-cards.hidden {
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
}

.dashboard-graphs-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 5px 10px;
  flex: 1 0 21%;
}

.dashboard-graphs-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-graphs-menu {
  position: relative;
  display: inline-block;
}

.dashboard-graphs-three-dots {
  font-size: 24px;
  cursor: pointer;
}

.dashboard-graphs-menu-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
}

.dashboard-graphs-menu:hover .dashboard-graphs-menu-content {
  display: block;
}

.dashboard-graphs-detail-button {
  background-color: #6938F3;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard-graphs-chart-head {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.dashboard-graphs-head-stats {
  font-size: 14px;
}

.dashboard-graphs-chart-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 5px;
}

/* Updated TikTok chart container to fit 4 pie charts in a row */
.dashboard-graphs-card-tiktok .dashboard-graphs-chart-container {
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.dashboard-graphs-pie-chart {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#7d4eff 0% 75%, #f3f3f3 75% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

.dashboard-graphs-pie-chart-follow {
  background: conic-gradient(#f156fc 0% 75%, #f3f3f3 75% 100%);
}

.dashboard-graphs-chart-percentage {
  font-size: 14px;
  font-weight: bold;
  color: #4e4e4e;
}

.dashboard-graphs-chart-label,
.dashboard-graphs-chart-label-2 {
  font-size: 14px;
  font-weight: normal;
  color: #4e4e4e;
  margin-top: 5px;
  text-align: center;
}

.dashboard-graphs-chart-label-2 {
  width: 70px;
}

/* Platform detail */
.dashboard-graphs-detail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background: #fff;
  padding: 30px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow-y: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dashboard-graphs-detail-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-graphs-back-button {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
  align-items: left;
}

.dashboard-graphs-detail-heading {
  font-size: 22px;
  font-weight: bold;
  margin-top: 7px;
}

.dashboard-graphs-detail-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-graphs-detail-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard-graphs-detail-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.dashboard-graphs-detail-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard-graphs-range-count {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.dashboard-graphs-range-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-range {
  width: 100%;
  margin-top: 5px;
}

.range-badge {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #6938F3;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 10px;
}

.dashboard-graphs-apply-button {
  background-color: #6938F3;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.addlink-form-row {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  gap: 15px;
}

.addlink-form-group {
  display: flex;
  flex-direction: column;
}

.addlink-form-group input {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.addlink-form-group input::placeholder {
  color: #aaa;
  font-size: 14px;
}

.addlink-form-group input:hover {
  border-color: #6c63ff;
}

.addlink-form-group input:focus {
  border-color: #6c63ff;
  outline: none;
  box-shadow: 0 0 10px rgba(108, 99, 255, 0.5);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.proceed-button {
  background-color: #6c63ff;
  color: #fff;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.proceed-button:hover {
  background-color: #5a54d1;
  box-shadow: 0 6px 12px rgba(90, 84, 209, 0.3);
}

/* Order list */
.order-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-head {
  font-size: 2rem;
  font-weight: bold;
  color: #002f77;
  text-align: center;
  margin-top: 25px;
}

.order-details-table {
  width: 80%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

.order-details-table th,
.order-details-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.order-details-table th {
  background-color: #7d4eff;
  color: white;
}

.order-details-table td a {
  color: #6938F3;
  text-decoration: none;
}

.order-details-table td a:hover {
  text-decoration: underline;
}

/* Plans styling */
/* Overall Container */
.udash-plans-container {
  text-align: center;
  padding: 5px 20px;
  background-color: #f9f9f9;
}

/* Headings */
.udash-plans-container h1 {
  font-size: 2rem;
  margin-bottom: 5px;
  font-weight: 700;
  color: #001338;
}

.udash-plans-container h2 {
  font-size: 1.25rem;
  /* Decreased from 1.5rem */
  margin-bottom: 15px;
  /* Decreased from 20px */
  color: #007bff;
}

.udash-plans-container h3 {
  text-align: center;
  font-size: 1.25rem;
  /* Decreased from 1.5rem */
  border: 1px solid;
  padding: 5px 0;
  /* Decreased padding */
  border-radius: 10px;
  display: inline-block;
  width: 70%;
  margin: 0 auto;
}

/* Toggle Buttons */
.udash-toggle-buttons {
  display: inline-flex;
  justify-content: center;
  gap: 0;
  margin-bottom: 10px;
  /* Decreased from 20px */
  border-radius: 5px;
  overflow: hidden;
}

.udash-toggle-btn {
  flex: 1;
  padding: 8px 30px;
  /* Decreased padding */
  border: 1px solid #007bff;
  font-size: 0.9rem;
  /* Decreased font size */
  cursor: pointer;
  transition: none;
  background-color: white;
  color: #007bff;
}

.udash-toggle-btn.active {
  background-color: #cce5ff;
  color: #0056b3;
}

/* Plan Cards */
.udash-plans {
  display: flex;
  justify-content: center;
  gap: 15px;
  /* Decreased from 20px */
  flex-wrap: wrap;
}

.udash-plan-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 8px;
  /* Decreased padding */
  width: 250px;
  /* Maintain width */
  margin-top: 10px;
  /* Decreased from 40px */
  transition: transform 0.3s, margin-top 0.3s, background-color 0.3s;
  text-align: left;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.udash-plan-card.selected {
  background-color: #001f3f;
  color: white;
  transform: scale(1.05);
  animation: bounce 0.3s ease-out;
}

.udash-plan-card .udash-plan-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.udash-plan-card .udash-try-free-link {
  display: block;
  color: #007bff;
  text-align: center;
  margin-bottom: 0;
  font-size: 0.8rem;
  /* Decreased font size */
  text-decoration: none;
}

.udash-plan-card .udash-try-free-link:hover {
  text-decoration: underline;
}

/* Features List */
.udash-features-list {
  margin-left: 20px;
  list-style: none;
  padding: 0;
}

.udash-features-list li {
  position: relative;
  padding-left: 1.5em;
  margin: 0.5em 0;
}

.udash-features-list li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #7d4eff;
}

.udash-price {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px 0;
  text-align: center;
}

.udash-time {
  font-size: 1.1rem;
  text-align: center;
  color: #b3d8ff;
}

/* Button Container */
.udash-button-container {
  margin-top: 3px;
  display: flex;
  justify-content: center;
}

.udash-choose-plan {
  margin-top: 5px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #cce5ff;
  color: #0056b3;
  width: 150px;
  margin-right: 20px;
}

.udash-choose-plan:hover {
  background-color: #b3d8ff;
}

.udash-customized-plan {
  margin-top: 5px;
  padding: 6px 20px;
  border: none;
  border-radius: 5px;
  background-color: #001f3f;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

.udash-customized-plan:hover {
  background-color: #001338;
}


/* Bounce Animation */
@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .plans-container h1 {
    font-size: 1.75rem;
  }

  .plans-container h2 {
    font-size: 1.1rem;
  }

  .plans {
    gap: 10px;
  }

  .plan-card {
    width: 70%;
  }

  .toggle-btn {
    padding: 8px 15px;
  }
}

@media (max-width: 480px) {
  .plans-container h1 {
    font-size: 1.5rem;
  }

  .plans-container h2 {
    font-size: 1rem;
  }

  .plan-card {
    width: 90%;
  }

  .toggle-btn {
    padding: 5px 10px;
  }

  .choose-plan {
    width: 100%;
  }
}









/* Payment-Method  */
.udash-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: white;
  overflow: auto; 
}

/* Main payment container */
.udash-container {
  width: 100%;
  max-width: 720px;
  padding: 20px;
  border: 1px solid #002f77;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

/* Heading container */
.udash-heading-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* udash Heading */
.udash-heading {
  font-size: 26px;
  font-weight: bold;
  color: #002f77;
  text-align: left;
  margin-top: 7px;
}

.udash-option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.udash-icon-label-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-grow: 1; 
}

.udash-icon {
  font-size: 20px;
  color: #002f77;
}

.udash-label {
  color: #002f77;
  font-size: 16px;
}

.udash-method-container {
  display: flex;
  flex-direction: column; 
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 100%;
}

.udash-method-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px;
}

.udash-method-details {
  width: 100%;
  margin-top: 10px; 
}

/* Ensuring delete icon stays on the same line */
.udash-method-container .udash-icon-label-container {
  flex-grow: 1;
}

/* Styling for radio input */
.udash-option-label {
  display: flex;
  align-items: center;
  width: 100%;
}

.udash-option-label input {
  margin-right: 10px;
}

.udash-remove-icon {
  font-size: 18px;
  color: #ff0000;
  cursor: pointer;
  align-self: center; 
}

/* Back arrow icon */
.udash-back-icon {
  font-size: 24px;
  cursor: pointer;
  color: #002f77;
}

/* udash details animation */
.udash-details {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, padding 0.3s ease;
  width: 100%;
}
.udash-details-menu{
  margin-left: 10px;
}
.udash-details.show {
  max-height: 300px;
  padding: 15px;
}

.udash-form-row {
  display: flex;
  gap: 15px;
  margin: 10px 0;
}

.udash-form-group {
  flex: 1;
}

.udash-form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button container */
.udash-button-container {
  display: flex;
  justify-content: right;
  margin-top: 20px;
  padding: 0 20px;
}

.udash-proceed-button, .udash-add-method-button {
  background-color: #6a0dad;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.udash-proceed-button:hover, .udash-add-method-button:hover {
  background-color: #580ea1;
}










/* Purchase History Container */
.purch-history-container {
  width: 100%;
  background-color: #f8f8f8;
  padding: 5px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Purchase History Heading */
.purch-history-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #002f77;
  text-align: center;
}


/* Table Styles */
.history-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  margin: 0;
}

/* Header Row Styling */
.history-table th {
  text-align: left;
  padding: 8px;
  color: #49454FCC;
  border-bottom: 1px solid black;
}

/* Remove borders from all other rows' cells */
.history-table td {
  padding: 8px;
  text-align: left;
  border: none;
}

/* Row hover effect */
.history-table tbody tr:hover {
  background-color: #f0f8ff;
}

/* Pagination Section */
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 0.9rem;
  width: 100%;
}

.who-per-page {
  font-size: 0.9rem;
  font-weight: bold;
}

.pagination-buttons {
  display: flex;
  gap: 5px;
}

.pagination-btn {
  background-color: white;
  color: grey;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-btn:hover {
  background-color: #0047ab;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .purchase-history-heading {
    font-size: 1.5rem;
  }

  .history-table th,
  .history-table td {
    font-size: 0.95rem;
  }

  .table-container {
    padding: 0;
  }
}

/* Scrollable Table Container */
.scrollable-table-container {
  overflow-x: auto;
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .purchase-history-heading {
    font-size: 1.2rem;
  }

  .history-table th,
  .history-table td {
    font-size: 0.85rem;
    white-space: nowrap;
    /* Prevents text wrapping inside table cells */
  }

  .table-container {
    padding: 0;
  }

  .pagination-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .pagination-buttons {
    justify-content: flex-start;
    gap: 3px;
  }
}

@media (max-width: 480px) {
  .purchase-history-heading {
    font-size: 1rem;
  }

  .history-table th,
  .history-table td {
    font-size: 0.8rem;
    white-space: nowrap;
    /* Prevent text wrapping */
  }

  .table-container {
    padding: 0;
  }

  .pagination-btn {
    font-size: 0.75rem;
    padding: 4px 6px;
  }
}




/*Profile Edit */

.prof-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 65px;
}

.prof-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #002f77;
  text-align: center;
}

.prof-form-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

.prof-form-group {
  flex: 1;
}

.prof-form-group input {
  padding: 14px 10px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.prof-form-group input::placeholder {
  color: #aaa;
  font-size: 14px;
}

.prof-form-group input:hover {
  border-color: #6c63ff;
}

.prof-form-group input:focus {
  border-color: #6c63ff;
  outline: none;
  box-shadow: 0 0 10px rgba(108, 99, 255, 0.5);
}

.prof-form-row.file-input-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.prof-form-group label {
  font-size: 14px;
  color: #000;
}

.dash-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dash-update-button {
  background-color: #6c63ff;
  color: #fff;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.dash-update-button:hover {
  background-color: #5a54d1;
  box-shadow: 0 6px 12px rgba(90, 84, 209, 0.3);
}













